MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/qaportfolio?retryWrites=true&w=majority
JWT_SECRET=replace_with_strong_secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

PROFILE_NAME=Jubair Rahman
PROFILE_ROLE=QA Engineer | Software Tester | Project Coordinator
PROFILE_TAGLINE=Delivering Quality Through Code & Precision
PROFILE_BIO=Passionate about finding bugs and ensuring software quality.
PROFILE_EMAIL=jubairrahman64@gmail.com
PROFILE_PHONE=+880-164-576-3353
PROFILE_LOCATION=Dhaka, Bangladesh
PROFILE_GITHUB=https://github.com/JubairRahman
PROFILE_LINKEDIN=https://www.linkedin.com/in/thejubairahman
PROFILE_TWITTER=
PROFILE_RESUME_URL=#
PROFILE_AVATAR_URL=
PROFILE_YEARS=2
PROFILE_BUGS=5000
PROFILE_PROJECTS=8
PROFILE_TEST_CASES=150
